Flask==2.0.2
wolframalpha
google-search-results==2.4.2
langchain==0.0.148
urllib3==1.26.15 
requests==2.28.2
pinecone-client==2.2.1
flask-httpauth
tiktoken
openai
discord
discord-py-slash-command
colorama

