<!doctype html>
<html>

<head>
  <title>Hello Azure - Python Quickstart</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <style>
 

  </style>
</head>

<body>
  <main>
    <div class="px-4 py-3 my-2 text-center">
      <h1 class="display-6 fw-bold text-primary">Chatbot Widgets</h1>
    </div>
  </main>
  <link rel="stylesheet" href="/static/css/chatbot.css" >
  <!-- Include the chatbot widget JavaScript file -->
  <script src="/static/scripts/chatbot-widget.js"></script>

  <!-- Create a table to hold the chatbot widgets -->
  <table class="chatbot-table">
    <tr>
      <td>
        <h3>Chatgpt4</h3>
        <!-- Create a container for the chatbot widget -->
        <div id="chatbot-container1"></div>
        <!-- Initialize the chatbot widget by passing the container ID -->
        <script>
          new ChatbotWidget('chatbot-container1', 'chatgpt4');
        </script>
      </td>
      <td>
        <h3>Pinecone Army Field Manual</h3>
        <!-- Create a container for the chatbot widget -->
        <div id="chatbot-container2"></div>
        <!-- Initialize the chatbot widget by passing the container ID -->
        <script>
          new ChatbotWidget('chatbot-container2', 'fieldmanual');
        </script>
      </td>
      <td>
        <h3>Wolfram Alpha</h3>
        <!-- Create a container for the chatbot widget -->
        <div id="chatbot-container3"></div>
        <!-- Initialize the chatbot widget by passing the container ID -->
        <script>
          new ChatbotWidget('chatbot-container3', 'wolfram');
        </script>
      </td>
      <td>
        <h3>Google Search</h3>
        <!-- Create a container for the chatbot widget -->
        <div id="chatbot-container4"></div>
        <!-- Initialize the chatbot widget by passing the container ID -->
        <script>
          new ChatbotWidget('chatbot-container4', 'serpapi');
        </script>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Conversation Buffer Memory</h3>
        <!-- Create a container for the chatbot widget -->
        <div id="chatbot-container5"></div>
        <!-- Initialize the chatbot widget by passing the container ID -->
        <script>
          new ChatbotWidget('chatbot-container5', 'conversationbuffermemory');
        </script>
      </td>
    </tr>
  </table>
</body>

</html>